.body-blue {
  background: #252f4a; }

header .logo {
  padding: 4px !important;
  font-size: 1.5em; }
  header .logo a {
    color: #fff; }
header .site-header .nav-link {
  color: #9fa5b3; }
  header .site-header .nav-link:hover {
    color: #fff;
    text-decoration: none; }
header .sl-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #dee2e626 !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem; }
  header .sl-nav ul li {
    cursor: pointer; }
    header .sl-nav ul li:hover ul {
      position: absolute;
      top: 2.1rem;
      right: -15px;
      display: block;
      background: #fff;
      width: 120px;
      padding-top: 0px;
      z-index: 1;
      border-radius: 5px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }
    header .sl-nav ul li:hover .triangle {
      position: absolute;
      top: 1.5rem;
      right: -10px;
      z-index: 10;
      height: 14px;
      overflow: hidden;
      width: 30px;
      background: transparent; }
      header .sl-nav ul li:hover .triangle::after {
        content: '';
        display: block;
        z-index: 20;
        width: 15px;
        transform: rotate(45deg) translateY(0px) translatex(10px);
        height: 15px;
        background: #fff;
        border-radius: 2px 0px 0px 0px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }
    header .sl-nav ul li ul {
      display: none; }
      header .sl-nav ul li ul li:last-of-type {
        padding-bottom: 15px; }
      header .sl-nav ul li ul li {
        position: relative;
        text-align: left;
        background: transparent;
        padding: 15px 2px;
        padding-bottom: 0;
        z-index: 2;
        font-size: 15px;
        color: #3c3c3c; }
        header .sl-nav ul li ul li:hover {
          color: #000; }
        header .sl-nav ul li ul li span {
          padding-left: 5px; }
header .sl-flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden; }
header .flag-de {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAPUlEQVQ4T+3HMQ0AIBTE0NOHM8x9B7hgh71bIWGieUvze1m7kHGBr/AVvsJX+EpmP5dV5/gKX+ErfIUvVDYcX2NMxQC8PAAAAABJRU5ErkJggg==");
  background-size: cover;
  background-position: center center; }
header .flag-usa {
  background-size: cover;
  background-position: center center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII="); }

.site-header a {
  margin-left: 1rem; }
  .site-header a:hover {
    text-decoration: underline; }
  .site-header a .fa:not(.fa-user):not(.fa-bars) {
    font-size: 7px;
    padding-left: 2px; }

@media (max-width: 1280px) {
  .site-header a {
    margin-left: 0.5rem; } }
@media (max-width: 823px) {
  .flex-responsive {
    display: block !important; }

  .container {
    max-width: 100%; }

  .logo {
    float: none !important;
    text-align: center; } }
@media (max-width: 736px) {
  .navbar-collapse {
    margin-top: 2rem; }

  .logo {
    float: left !important;
    margin: 0; }

  .menu .btn {
    display: inline-table; }

  header .navbar-toggler {
    border: none;
    background-color: #51596e; }

  header .site-header .nav-link {
    color: #d9dadf; }

  .navbar-nav .nav-item {
    border-bottom: 1px solid #727989;
    padding: 10px 0; } }
@media (max-width: 480px) {
  .nav-tabs .nav-link {
    padding: 0.7rem 1rem; }

  .site-header {
    margin: 0 auto;
    justify-content: center; }

  .menu {
    background-color: #ffffff33;
    margin: 1rem 0; }

  header .sl-nav ul li:hover ul {
    right: -50px; } }
footer {
  background: #252f4a; }
  footer .logo-footer {
    font-size: 30px; }
  footer .list-group a {
    color: #9fa5b3; }
    footer .list-group a:hover {
      color: #fff; }
  footer .form-group {
    position: relative; }
    footer .form-group label {
      color: #9fa5b3; }
    footer .form-group .submit {
      color: #fff;
      background: #f5991d;
      border: none;
      font-weight: 700;
      width: 100%;
      height: 38px;
      border: 0;
      margin-top: 3%;
      border-radius: 5px; }
  footer .social-btns .btn {
    display: inline-block;
    border: 1px solid #ffffff24;
    width: 43px;
    height: 43px;
    padding: 0;
    margin-right: 1%;
    line-height: 2.5rem;
    color: #ffffff36;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.99; }
    footer .social-btns .btn .fa {
      font-size: 25px;
      vertical-align: middle; }
    footer .social-btns .btn:before {
      content: "";
      width: 120%;
      height: 120%;
      position: absolute;
      -webkit-transform: rotate(45deg);
      background-color: #6a738833;
      transform: rotate(45deg); }
    footer .social-btns .btn .fa {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
    footer .social-btns .btn:before {
      top: 90%;
      left: -110%; }
  footer label {
    color: #9fa5b3;
    font-size: 1.6em;
    line-height: 34px;
    margin-bottom: 0.5rem; }
  footer input,
  footer input::-webkit-input-placeholder {
    font-size: 13px;
    height: 38px; }
  footer .social-btns .btn,
  footer .social-btns .btn:before,
  footer .social-btns .btn .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59); }
  footer .social-btns .btn:focus:before,
  footer .social-btns .btn:hover:before {
    top: -10%;
    left: -10%; }
  footer .social-btns .btn:focus .fa,
  footer .social-btns .btn:hover .fa {
    color: rgba(255, 255, 255, 0.66);
    -webkit-transform: scale(1);
    transform: scale(1); }
  footer .footnote {
    font-size: 15px; }
  footer .footer2-link ul {
    list-style-type: none; }
  footer .footer2-link a {
    color: #9fa5b3;
    text-decoration: none !important;
    padding: 0 1rem; }
    footer .footer2-link a:hover {
      color: #fff; }

.footer-column {
  text-align: left; }
  .footer-column p {
    color: #95a0b1;
    line-height: 1.8rem;
    text-align: justify; }
  .footer-column img {
    width: 40%; }
  .footer-column li {
    margin-bottom: 0.5rem; }

@media (max-width: 768px) {
  .text-footer {
    text-align: center;
    width: 100%; }

  .footer2-link {
    text-align: center;
    width: 100%; }

  .footer2-link ul {
    display: inline-block !important; } }
@media (max-width: 480px) {
  .footnote {
    display: block !important; }
    .footnote div {
      max-width: 100%;
      text-align: center; } }
.title-header {
  text-align: center;
  margin-bottom: 1rem;
  padding: 2rem 0 0.5rem; }
  .title-header h3 {
    font-weight: bold;
    line-height: 37px; }
  .title-header span {
    font-size: 16px;
    opacity: 0.65; }

.nav-inside {
  margin-top: 1rem;
  background: #252f4a73;
  padding: 0; }
  .nav-inside ul {
    margin-bottom: 0;
    padding: 0; }
    .nav-inside ul li {
      padding: 1rem 2rem;
      line-height: 49px;
      margin: 0 1rem; }
      .nav-inside ul li a:hover {
        color: #95a0b1; }
      .nav-inside ul li .icon {
        border-radius: 5px;
        background: #3b486561;
        width: 50px;
        height: 47px;
        margin-right: 0.5rem;
        line-height: 49px;
        text-align: center;
        font-size: 1.5em; }

.stat-block {
  background: #252f4a;
  padding: 2.5rem;
  margin: 2rem 0;
  border-radius: 7px;
  cursor: pointer; }
  .stat-block:hover {
    background: #f5991d; }
    .stat-block:hover span,
    .stat-block:hover .fa,
    .stat-block:hover h3 {
      color: #252f4a; }
  .stat-block h3 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    line-height: 30px; }
  .stat-block span {
    color: #95a0b1; }
    .stat-block span .fa {
      font-size: 2em;
      font-size: 3em;
      color: #46516f;
      margin-bottom: 1rem; }

.card-info {
  background-color: #ffffff14;
  padding: 1.5rem;
  margin: 3rem auto; }
  .card-info button {
    color: #fff;
    background: #f5991d;
    cursor: pointer;
    border: none;
    font-weight: 700;
    width: 100%;
    height: 38px;
    border: 0;
    margin-top: 3%;
    border-radius: 5px; }
  .card-info .header {
    font-size: 1.2em;
    background: #ffffff12;
    padding: 0.7rem 0; }
  .card-info .title {
    color: #aaafb5;
    display: inline-block;
    font-size: 17px; }
  .card-info input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden; }
  .card-info label {
    cursor: pointer;
    text-indent: -10016px;
    width: 50px;
    height: 20px;
    background: #5d677c;
    display: block;
    border-radius: 100px;
    position: relative;
    float: right; }
    .card-info label:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 20px;
      height: 10px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s; }
  .card-info .payment {
    border-top: 1px solid #95a0b159;
    padding-top: 16px;
    margin-top: 2rem; }
  .card-info input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%); }
  .card-info .text-underline {
    text-decoration: underline !important; }
  .card-info .input-field {
    border: 1px solid #4a628629;
    padding: 11px 8px;
    color: #fff;
    background: #4b566ef2;
    border-radius: 3px; }
  .card-info ::placeholder {
    color: #95a0b1;
    font-size: 15px;
    padding: 0; }

@media (max-width: 768px) {
  table {
    display: inline-table;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }

  .slider-container {
    padding-top: 4em; }

  .newsletter {
    padding-top: 0 !important; }

  .stat-block {
    min-height: 233px; }

  .title-header {
    padding: 0rem 0 0.5rem; }

  .quote-container {
    padding: 4rem 0 1rem; }

  .footer-column .newsletter {
    text-align: center !important;
    margin: 2rem auto; }

  .footer-column .newsletter label {
    margin-bottom: 1rem; } }
@media (max-width: 736px) {
  .newsletter .form-inline {
    margin: 0 !important; } }
@media (max-width: 480px) {
  html,
  body {
    overflow-x: hidden !important; }

  .nav-inside ul li {
    padding: 1rem 0rem;
    line-height: 49px;
    margin: 0 0rem;
    width: 48%;
    font-size: 14px; }

  .stat-block {
    margin: 1rem 0 1rem; }

  .title-header {
    padding: 2rem 0 0.5rem; }

  .col-4 {
    flex: 0 0 100%;
    max-width: 100%; }

  .report-table .card-header h4:before {
    width: 32%; }

  .newsletter input {
    margin: 0; }
  .newsletter .icon {
    display: none !important; } }

/*# sourceMappingURL=bitcoin-style.css.map */
